.DS_Store
classes/*
.settings/
target/
.classpath
.project

*.iml
.idea/
work/
bin/
LOG_PATH_IS_UNDEFINED/


build.sh
deploy.sh
settings.xml
start.sh
doc/
.run/

sparta-admin/
sparta-base/
sparta-biz/
sparta-do/
sparta-feign/
sparta-framework/
sparta-head/
sparta-message/
sparta-pay/
sparta-pay-mock/
sparta-pay-sdk/
sparta-risk/
sparta-websocket/
sparta-wsdao/